body{
    margin:0;
}
nav{
    align-items: center;
    display: flex;
    background-color:plum;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 800;
    height:20vh;
    justify-content: space-between;
}
nav div{
    display:inline-flex;
    justify-content: space-around;
    font-style:oblique;
}
.divnav1{
    font-size: larger;
    padding-left: 5vw;
    width: 20vw;
}

.divnav2{
    width: 50vw;
}
@media(max-width:600px) {
    nav{
        height:40vh;
        }
    nav div{
        display:list-item;
    }

 }