body{
    margin:0;
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-color: #F7ECDE;
    height:100vh;    
    flex-wrap: wrap;
    
}


.uma{

    align-items:center;
    height:70vh;
    border-radius: 20%;
    margin:10%;
        
}
.alma{
    align-items:center;
    height:70vh;    
    border-radius: 20%;
    margin:10%;
        
}

img{
    /* height: 100vh; */
    
    height:60vh;    
    border-radius: 20%;  

}

