body{
    margin:0;
}

body{
    background-origin: border-box;
    background-size: cover;

}
main{
    display:flex;
    background-color: rgb(255, 0, 191);
    background-size: cover;
    width: 100%;
    height: 900px;
}