
body{font-family: sans-serif;
    margin: 0;
    font-size: 30px;
    }/*el margen se lo saco en el body*/

.logo{ color: rgb(92, 152, 140);
    padding-left: 20px;

}

header
    {
    background-color: rgb(220, 165, 212);
    height: 50px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:0;
    padding:10px;
    border-radius: 70%;
 
}
.menu{
    display:flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1em;
    border-radius: 30%;
}
/*pseudoclase*/
.menu li:hover{
    color:brown;
}


/*pseudoclase*/
a{
    text-decoration: none;
}


.extra{color: white;
    position:relative;
    offset-position: 100px;

}


.seccion1{
       
        background-image: url("img/umayalmabbs.jpg");
        background-size:cover;
        background-position: center;
        height: 200px;
        width: 100%;
        border-radius: 40%;
        border-bottom-left-radius: 30%;
        display:flex;
        padding-top: 10px;
        justify-content: center;
        align-items: center;
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 1em;
        font-style:italic;
        font-weight: bold;
        text-shadow:0 0 4px; 

}
.seccion2{
       
    background-image: url("img/uma.jpg");
    background-size:contain;
    background-position: center;
    height: 200px;
    width: 100;
    border-bottom-left-radius: 30%;
    border-top-right-radius:30%;
    display:flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1em;
    font-style:italic;
    font-weight: bold;
    text-shadow:0 0 4px; 
}



.foot{width:100%;
    background-color:rgb(77, 21, 87);
        height:100%;
        block-size:30vh;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}
li{display:inline;
   padding:10px;

}
img{  width:100%; 
    height: auto; 

}

@media (max-width:700px){
    .menu{
        display:flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
       
    }
    li{padding-bottom: 20px;}
    header
    {
    height: 40px;
    }
  
    .seccion1{
      
        height: 400px;
        width: 100%;
    }
}